$primary-orange: #ff522d;
$primary-green: #8fbd54;
$primary-blue: #0449af;
$primary-yellow: #eca900;
$primary-white: #ececec;

$primary-dark-blue: #002a69;

$bg-orange: #ffd4cb;
$bg-green: #ecffd3;
$bg-blue: #a9c6f2;
$bg-yellow: #fff2d0;

$gray-dark: #585858;
$gray-light: #8d8d8d;
$gray-link: #cacaca;

$background-white: #ececec;
$background-blue: $primary-blue;
