* {
	margin: 0;
	padding: 0;

	box-sizing: inherit;
	font-family: 'Poppins-regular';
	font-size: 1rem;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	color: #585858;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

// li {
// 	list-style: none;
// }

// p::selection {
// 	color: white;
// 	background: #0449af;
// }

p::selection {
	color: white;
	background: #ff522d;
}
li::selection {
	color: white;
	background: #ff522d;
}
br::selection {
	color: white;
	background: #ff522d;
}
